body {
	background: #EDEDED;
	font: {
		family: 'Open Sans', Roboto, sans-serif, Arial;
		size: 16px;
	}
	margin: 0;
	min-height: 100dvh;
}

h2 {
	font-size: 1.3em;
}

.container {
	margin: 1rem;
}

.flex-shrink-0 {
	flex-shrink: 0;
}
