@use './lib/styles/vars.scss' as *;

body {
	background: #EDEDED;
	font: {
		family: 'Open Sans', Roboto, sans-serif, Arial;
		size: 16px;
	}
	margin: 0;
	min-height: 100dvh;
}

h1 {
	color: $text-light;
	font-size: 2rem;
	text-align: center;
	margin: 0 0 0.5em;
}

h2 {
	font-size: 1.3em;
}

.container {
	padding: 1rem;
}
